.story {
    &__presentation {
        display: grid;
        grid-template-columns: 386px 386px;
        grid-template-rows: 220px 195px 230px;
        gap: 24px;
    }
}

[data-size='videoLarge'] {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
