.about_ebook {
    padding: 29px 100px 68px 100px;
    min-height: 474px;
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 66px;
    }
    &__cover {
        height: 446px;
        img {
            position: relative;
            bottom: 285px;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
        }
        &-skeleton {
            position: relative;
            bottom: 285px;
            height: 752px;
            width: 540px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    &__descr {
        margin-top: 22px;
        padding-right: 200px;
        color: rgb(0, 0, 0, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        &-skeleton {
            margin-top: 22px;
            height: 48px;
            width: 500px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    &__header-skeleton {
        height: 36px;
        width: 500px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
