@media (max-width: 1200px) {
    .blog_books {
        padding-top: 0px;
    }
    .blog_books__resources {
        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 375px) {
    .blog_books__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(310px, 0));
    }
}