@media (max-width: 1200px) {
    .steps {
        padding-top: 0px;
        position: relative;
        top: -45px;
    }
}

@media (max-width: 375px) {
    .steps__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(310px, 0));
    }
}