.info {
    padding-top: 32px;
    width: 100%;
    &__wrapper {
        width: 646px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 48px;
    }
    &__descr {
        margin-top: 9px;
        padding-right: 47px;
        color: rgb(0, 0, 0, 0.8);
        font-size: 16px;
        line-height: 26px;
    }
    &__block {
        &_descr {
            margin-top: 22px;
            color: rgb(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 24px;
        }
        &_img {
            margin-top: 28px;
            img {
                object-fit: contain;
            }
        }
    }
}
