.info {
    padding-top: 32px;
    width: 100%;
    &__wrapper {
        width: 646px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 48px;
    }
    &__descr {
        margin-top: 9px;
        padding-right: 47px;
        color: rgb(0, 0, 0, 0.8);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        &-skeleton {
            margin-top: 9px;
            height: 26px;
            width: 280px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    &__block {
        &_descr {
            transition: all 0.3s;
            margin-top: 22px;
            color: rgb(0, 0, 0, 0.5);
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            &:hover {
                color: $main_color;
                font-size: 14.2px;
            }
            &:focus {
                color: $main_color;
                font-size: 14.2px;
            }
            &-skeleton {
                margin-top: 22px;
                height: 100px;
                width: 600px;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        &_img {
            margin-top: 28px;
            img {
                transition: all 0.3s;
                object-fit: contain;
                &:hover {
                    box-shadow: 0px 5px 30px 0px rgba(18, 104, 147, 0.5);
                }
                &:focus {
                    box-shadow: 0px 5px 30px 0px rgba(18, 104, 147, 0.5);
                }
            }

            &-skeleton {
                margin-top: 28px;
                height: 300px;
                width: 600px;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
