@media (max-width: 1440px) {
    .footer__header {
        justify-content: space-between;
        gap: 0px;
    }
    .footer__info {
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .footer__info {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 10px;
    }
    .footer__info_descr {
        flex-direction: row;
        max-width: none;
        min-width: 499px;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 22px 30px 15px 30px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 22px 10px 15px 10px;
        &__contacts {
            flex-direction: column;
            width: 100%;
            gap: 20px;
            text-align: center;
        }
        &__descr {
            margin-top: 23px;
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .footer__header {
        flex-direction: column;
    }
    .footer__info_descr {
        gap: 10px;
        flex-direction: column;
        min-width: 300px;
    }
    .footer__logo {
        left: -60px;
    }
}

@media (max-width: 375px) {
    .footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer__info_descr {
        div {
            text-align: center;
        }
    }
}
