.about_ebook {
    padding: 29px 100px 68px 100px;
    min-height: 474px;
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 66px;
    }
    &__cover {
        height: 446px;
        img {
            position: relative;
            bottom: 285px;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
        }
    }
    &__content {
        h2 {
            font-size: 28px;
            line-height: 28px;
        }
    }
    &__descr {
        margin-top: 22px;
        padding-right: 200px;
        color: rgb(0, 0, 0, 0.5);
        font-size: 14px;
        line-height: 24px;
    }
    &__form {
        margin-top: 32px;
        display: flex;
        input {
            padding: 16px 19px 21px 19px;
            width: 350px;
            height: 56px;
            border-radius: 4px;
            border: 1px solid rgb(0, 0, 0, 0.2)
        }
        button {
            width: 169px;
        }
    }
}