.promo_ebook {
    min-height: 540px;
    padding-right: 100px;
    background: url('../../../../public/assets/img/ebook_page/promo/roof.png') 0 0/cover no-repeat;
    &__header {
        height: 82px;
    }
    &__name {
        margin-top: 193px;
        margin-left: 662px;
        color: rgb(255, 255, 255);
        width: 434px;
    }
    &__descr {
        margin-left: 662px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__author {
        color: rgb(255, 255, 255, 0.7);
        font-size: 16px;
        line-height: 16px;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}