.customers {
    position: relative;
    margin-top: 69px;
    padding-left: 100px;
    overflow: hidden;
    min-height: 463px;
    &__wrapper {
        margin-top: 100px;
        display: flex;
        gap: 34px;
    }
    // &__rating {
    //     height: 344px;
    //     width: 287px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }
    // &__block {
    //     position: relative;
    //     display: flex;
    //     justify-content: space-between;
    //     padding-left: 24px;
    //     width: 287px;
    //     height: 160px;
    //     border: 1px solid rgb(151, 151, 151, 0.2);
    //     border-radius: 4px;
    //     &-descr {
    //         width: 244px;
    //         padding-right: 24px;
    //     }
    //     &_text {
    //         margin-top: 23px;
    //         margin-bottom: 57px;
    //         color: $main_color;
    //         font-size: 11px;
    //         line-height: 13px;
    //         letter-spacing: 2px;
    //         text-align: left;
    //         text-transform: uppercase;
    //     }
    //     &_img {
    //         position: absolute;
    //         top: 44px;
    //         left: 20px;
    //     }
    //     &_reviews {
    //         display: flex;
    //         margin-top: 21px;
    //         p {
    //             margin-right: 5px;
    //             color: rgb(0, 0, 0, 0.5);
    //             font-size: 14px;
    //             line-height: 24px;
    //             text-align: left;
    //         }
    //         a {
    //             color: $main_color;
    //             font-size: 14px;
    //             line-height: 16px;
    //             text-align: left;
    //         }
    //     }
    //     &-stars {
    //         width: 42px;
    //         display: flex;
    //         padding: 17px 0;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         flex-wrap: wrap;
    //         align-content: center;
    //         text-align: center;
    //         div {
    //             display: inline-block;
    //             vertical-align: top;
    //             width: 20px;
    //             height: 20px;
    //             background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    //             position: relative;
    //         }
            
    //         div:before {
    //             content: '';
    //             position: absolute;
    //             top: 1px;
    //             left: 1px;
    //             bottom: 1px;
    //             right: 1px;
    //             background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    //             z-index: 1;
    //         }
            
    //         div,
    //         div:before {
    //             -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    //             clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    //         }
            
    //         div:hover {
    //             background: linear-gradient(to bottom, $main_color 0%, $main_color);
    //         }
            
    //         div:hover:before {
    //             background: linear-gradient(to bottom, $main_color 0%, $main_color 100%);
    //         }
    //     }
    // }
//     &__slider {
//         position: relative;
//         display: flex;
//         width: 100%;
//         background-color: $blue_color;
//         height: 291px;
//         top: 54px;
//         border-radius: 4px;
//         gap: 31px;
//         &_inner {
//             height: 100%;
//         }
//         &_counter {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             margin-left: 33px;
//         }
//         &_current {
//             margin-top: 29px;
//             margin-bottom: 42px;
//             height: 43px;
//             color: rgba(250, 250, 250, 0.5);
//         }
//         &_arrows {
//             height: 144px;
//             display: flex;
//             flex-direction: column;
//             flex-wrap: wrap;
//             justify-content: space-between;
//         }
//         &_dots {
//             margin-top: 22px;
//             position: relative;
//             top: -100px;
//             left: 240px;
//             width: 556px;
//             height: 20px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//         }
//         &_dot {
//             width: 12px;
//             height: 12px;
//             border-radius: 100%;
//             border: 1px solid rgb(40, 119, 146);
//             background-color: $main_color;
//             cursor: pointer;
//         }
//     }
//     &__slides {
//         min-height: 318px;
//         border-radius: 4px;
//         overflow: hidden;
//         display: flex;
//         gap: 24px;
//         position: relative;
//         top: -100px;
//     }
//     &__slide {
//         width: 479px;
//         height: 310px;
//         background-color: #ffffff;
//         padding: 24px 32px 28px 32px;
//         box-shadow: 0px -4px 20px -1px rgba(0, 0, 0, 0.1);
//         &-profile {
//             display: flex;
//             gap: 11px;
//         }
//         &-photo {
//             width: 110px;
//             height: 110px;
//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }
//         &-info {
//             padding-left: 9px;
//             min-width: 181px;
//         }
//         &-city {
//             margin-top: 11px;
//             color: $main_color;
//             font-size: 11px;
//             line-height: 13px;
//             letter-spacing: 2px;
//             text-align: left;
//             text-transform: uppercase;
//         }
//         &-name {
//             margin-top: 9px;
//             color: $dark_color;
//             font-size: 28px;
//             line-height: 28px;
//             text-align: left;
//         }
//         &-proff {
//             margin-top: 14px;
//             color: rgb(0, 0, 0, 0.5);
//             font-size: 14px;
//             line-height: 16px;
//             text-align: left;
//         }
//         &-social {
//             padding-top: 41px;
//         }
//         &_line {
//             margin-top: 24px;
//         }
//         &-descr {
//             display: flex;
//             margin-top: 26px;
//             gap: 31px;
//         }
//         &-text {
//             overflow: hidden;
//             width: 346px;
//             height: 96px;
//             color: rgb(0, 0, 0, 0.5);
//             font-size: 14px;
//             line-height: 24px;
//             letter-spacing: 0px;
//             text-align: left;
//         }
//     }
}

// #current-customers {
//     font-size: 28px;
//     line-height: 28px;
//     letter-spacing: 0px;
//     text-align: left;
//     color: #ffffff;
// }
// #total-customers {
//     font-size: 12px;
//     line-height: 28px;
//     letter-spacing: 0px;
//     text-align: left;
//     color: rgba(250, 250, 250, 0.5);
// }

// .dot-active-white {
//     width: 20px;
//     height: 20px;
//     background-clip: content-box;
//     border-radius: 100%;
//     border: 4px solid rgba(250, 250, 250, 0.4);
//     background-color: #ffffff;
// }