.second_ebook__promo {
    min-height: 540px;
    background: url('../../../../public/assets/img/ebook_page/promo/roof.png') 0 0/cover no-repeat;
    h1 {
        margin-top: 170px;
        width: 434px;
        margin-left: 396px;
        color: rgb(255, 255, 255);
    }
}
.second_ebook__author {
    margin-top: 21px;
    margin-left: 396px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 16px;
}