.article {
    position: relative;
    min-height: 764px;
    margin-top: 129px;
    &__filters {
        display: flex;
        justify-content: end;
        position: absolute;
        height: 80px;
        width: 580px;
        left: 335px;
        top: 45px;
    }
    &__filter {
        margin-left: 20px;
        width: 68px;
        height: 22px;
        color: $dark_color;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        border-bottom: none;
        &-active {
            color: $main_color;
            border-bottom: 1px solid $main_color;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: 818px 397px;
        column-gap: 24px;
    }
    &__education {
        &_wrapper {
            margin-top: 19px;
            display: grid;
            grid-template-columns: 397px 397px;
            grid-template-rows: 342px 342px;
            gap: 24px;
        }
        
    }
    &__block {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 28px 32px 32px 32px;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
        .line {
            width: 260px;
        }
    }
    &__logo {
        color: $main_color;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
    }
    &__header {
        margin-top: 82px;
        color: rgb(52, 47, 69);
        font-size: 28px;
        line-height: 28px;
        text-align: left;
    }
    &__descr {
        margin-top: 18px;
        margin-bottom: 20px;
        color: rgb(0, 0, 0, 0.5);
        font-size: 14px;
        line-height: 24px;
        text-align: left;
    }
    &__by {
        margin-top: 23px;
        display: flex;
        &_photo {
            width: 48px;
            height: 48px;
            margin-right: 12px;
        }
        &_name {
            transform: translateY(10px);
            color: rgb(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 14px;
            text-align: left;
            div {
                margin-top: 3px;
                color: $dark_color;
                font-size: 16px;
                line-height: 16px;
                text-align: left;
                width: 106px;
                height: 16px;
            }
        }
    }
    &__book {
        width: 181px;
        height: 78px;
        color: $dark_color;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
    }
    &__resources {
        &_wrapper {
            margin-top: 19px;
            display: grid;
            grid-template-columns: 397px;
            grid-template-rows: 266px 266px;
            row-gap: 20px;
        }
        &_block {
            position: relative;
            background-color: #ffffff;
            border-radius: 4px;
            padding: 28px 32px 18px 32px;
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
            .line {
                margin-top: 24px;
                width: 333px;
            }
        }
        &_descr {
            display: flex;
            &-img {
                width: 96px;
                height: 120px;
                img {
                    position: relative;
                    top: -7px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-book {
                margin-left: 24px;
            }
        }
        &_button {
            display: flex;
            justify-content: end;
            margin-top: 15px;
        }
        
    }
}

#article-first {
    grid-column-start: 1;
    grid-column-end: 3;
    background: url('../../../../public/assets/img/main_page/education/living_room.png') center/cover no-repeat;
    .line {
        background-color: rgb(255, 255, 255, 0.5);
        width: 608px;
    }
    .article__logo {
        color: rgb(255, 255, 255, 0.5);
    }
    .article__descr {
        color: rgb(255, 255, 255, 0.5);
    }
    .article__by_name {
        color: rgb(255, 255, 255, 0.5);
        div {
            color: rgb(255, 255, 255);
        }
    }
    .article__header {
        color: rgb(255, 255, 255);
    }
}

#article-active {
    cursor: pointer;
    background-color: $main_color;
    .line {
        background-color: rgb(255, 255, 255, 0.5);
    }
    .article__logo {
        color: rgb(255, 255, 255, 0.5);
    }
    .article__descr {
        color: rgb(255, 255, 255, 0.5);
    }
    .article__by_name {
        color: rgb(255, 255, 255, 0.5);
        div {
            color: rgb(255, 255, 255);
        }
    }
    .article__header {
        color: rgb(255, 255, 255);
    }

}