@import '../../../../style/variables/variables.scss';

.getting {
    &__block {
        min-width: 512px;
        border-radius: 4px;
    }
    &__promo {
        height: 220px;
        padding-left: 35px;
        &_img {
            width: 284px;
            
        }
        &_btn {
            display: flex;
            button {
                top: 80px;
            }
        }
        &_descr {
            padding-top: 105px;
            padding-left: 16px;
            font-size: 13px;
            line-height: 15px;
        }
    }        
    &__descr {
        position: relative;
        display: block;
        min-height: 347px;
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 28px 32px 31px 33px;
        &_subheader {
            color: $main_color;
            font-size: 11px;
            line-height: 13px;
            text-align: left;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &_header {
            color: $dark_color;
            margin-top: 5px;
            font-size: 28px;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
        }
        &_text {
            padding-right: 30px;
            margin-top: 39px;
            color: rgb(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }
        &_block {
            margin-top: 25px;
            color: $dark_color;
            font-size: 16px;
            line-height: 28px;
            text-align: left;
        }
        &_skills {
            position: relative;
            left: -10px;
            margin-top: 18px;
            display: grid;
            grid-template-columns: 48px 48px 48px 48px;
            grid-template-rows: 48px;
            gap: 40px;
        }
        &_skill {
            justify-self: flex-start;
            div {
                display: block;
                margin: 0 auto;
                width: 48px;
                height: 48px;
                border: 1px solid rgb(232, 232, 232);
                border-radius: 100%;
                img {
                    display: block;
                    margin: 13px auto;
                    width: 22px;
                    height: 22px;
                }
            }
            p {
                margin-top: 9px;
                width: 65px;
                min-height: 24px;
                color: rgb(0, 0, 0);
                font-size: 11px;
                line-height: 12px;
                text-align: center;
            }
        }
    }
}