.story {
    position: relative;
    padding: 104px 100px 20px 49px ;
    min-height: 824px;
    h2 {
        margin-left: 50px;
    }
    h3 {
        margin-left: 50px;
    }
    &__block {
        position: relative;
        margin-top: 49px;
        display: flex;
        justify-content: center;
    }
}

