@media (max-width: 1320px) {
    .start__img {
        width: 390px;
    }
}

@media (max-width: 1200px) {
    .start {
        padding-top: 70px;
        min-height: 460px;
    }
}

@media (max-width: 768px) {
    .start__wrapper {
        flex-direction: column-reverse;
        gap: 0px;
        align-items: center;
    }
    .start__descr {
        text-align: center;
    }
    .start__line {
        margin-top: 35px;
    }
    .start__btns {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .start__img {
        width: 300px;
    }
    .start__info {
        width: 300px;
    }
}