@media (max-width: 1440px) {
    .menu__block {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .menu__block {
        padding: 40px 50px 64px 80px;
    }
}

@media (max-width: 992px) {
    .menu__buttons {
        flex-direction: column;
    }
    .menu__block {
        padding: 70px 20px 64px 20px;
    }
    .menu .menu__content {
        margin-top: 20px;
    }
    .menu__line {
        margin-top: 20px;
    }
    .menu__block_close {
        top: 40px;
        left: 30px;
    }
}

@media (max-width: 768px) {
    .menu__block {
        width: 100%;
        padding: 40px 50px 64px 80px;
    }
    .menu__buttons {
        flex-direction: row;
        justify-content: center;
    }
    .menu .menu__content {
        margin-top: 40px;
    }
    .menu__block_close {
        top: 55px;
        left: 40px;
    }
    .menu .menu__content ul {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .menu__block {
       padding: 70px 0px;
    }
    .menu__logo {
        padding-left: 50px;
    }
}