.customers {
    position: relative;
    margin-top: 69px;
    padding-left: 100px;
    overflow: hidden;
    min-height: 463px;
    &__wrapper {
        margin-top: 100px;
        display: flex;
        gap: 34px;
    }
}