.line {
    &_dark {
     border: 1px solid rgb(151, 151, 151, 0.2);
    }
    // &__burger {
    //     display: block;
    //     margin: 0 auto;
    //     width: 18px;
    //     height: 1px;
    //     background-color: rgb(151, 151, 151);
    //     border-radius: 1px;
    // }
    &__vertical {
        &-mini {
            width: 1px;
            height: 160px;
            background-color: rgb(151, 151, 151, 0.2);
        }
    }
}