.promo_main {
    padding-right: 103px;
    position: relative;
    display: grid;
    grid-template-columns: 587px 1fr;
    min-height: 720px;
    background: url('../../../assets/img/main_page/promo/promo.png') 0 0 / contain no-repeat;
    background-color: #ffffff;
    &__descr {
        min-height: 720px;
        padding: 572px 208px 21px 92px;
    }
    &__logo {
        display: block;
        margin: 0 auto;
        width: 240px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__subheader {
        margin-left: 10px;
        width: 276px;
        height: 43px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        line-height: 21px;
        text-align: left;
    }
    &__video {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98px;
        height: 60px;
    }
    &__time {
        height: 16px;
        font-size: 13px;
        color: #ffffff;
    }
    &__info {
        padding: 37px 0px 48px 38px;
        min-height: 720px;
        h1 {
            display: block;
            margin: 0 auto;
            margin-top: 155px;
            text-align: center;
        }
        &_text {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            text-align: center;
            width: 100%;
            width: 422px;
            height: 48px;
            color: rgb(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__line {
        margin-top: 145px;
        margin-left: 10px;
    }
    &__start {
        margin-left: 10px;
        margin-top: 33px;
        display: flex;
        justify-content: center;
        gap: 40px;
        &_btns {
            display: flex;
            gap: 26px;
        }
        &_text {
            width: 184px;
            height: 43px;
            color: rgb(0, 0, 0);
            font-size: 18px;
            line-height: 21px;
            text-align: left;
        }
    }
}

