@media (max-width: 1320px) {
    #article-big_right {
        grid-column-start: auto;
        grid-column-end: auto;
        padding-right: 32px;
        .article__descr {
            padding-right: 0px;
        }
    }
}

@media (max-width: 1200px) {
    .blog_education {
        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 992px) {
    #article-big_left {
        grid-column-start: auto;
        grid-column-end: auto;
        padding-right: 32px;
        .article__descr {
            padding-right: 0px;
        }
    }
}

@media (max-width: 375px) {
    .blog_education__wrapper {
        grid-template-columns: repeat(auto-fill, minmax(310px, 0));
    }
}