@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'fonts/fonts.scss';
@import 'variables/variables.scss';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1440px;
}

@import 'components/burger/burger.scss';
@import 'components/menu/munu.scss';
@import 'components/buttons/buttons.scss';
@import 'components/line/line.scss';
@import 'components/header/header.scss';
@import 'components/main_page/promo_main.scss';
@import 'components/main_page/getting.scss';
@import 'components/main_page/story.scss';
@import 'components/main_page/customers.scss';
@import 'components/main_page/article.scss';
@import 'components/footer/footer.scss';




@import 'media/media.scss';