.header {
    &__main {
        position: absolute;
        z-index: 10;
        width: 80px;
        padding-top: 24px;
        padding-left: 24px;
        display: flex;
        height: 76px;
    }
    &__h1 {
        width: 579px;
        min-height: 120px;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        color: #342f45;
        &-span_more {
            color: #ffffff;
            &::before {
                content: attr(data-text);
                position: absolute;
                display: flex;
                overflow: hidden;
                max-width: 7em;
                white-space: nowrap;
                color: $main_color;
                animation: loading 5s linear;
            }
        }
        &-span_just {
            color: #ffffff;
            &::before {
                content: attr(data-text);
                position: absolute;
                overflow: hidden;
                max-width: 7em;
                white-space: nowrap;
                color: $main_color;
                animation: loading 7s linear;
            }
        }
    }
    &__h2 {
        color: $dark_color;
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        &-left {
            color: $dark_color;
            font-size: 36px;
            font-weight: 700;
            line-height: 60px;
        }
    }
    &__h3 {
        color: rgb(0, 0, 0, 0.5);
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        &-left {
            color: rgb(0, 0, 0, 0.5);
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
        }
    }
    &__h4 {
        color: rgb(52, 47, 69);
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
    }
}
