@keyframes buttonbeat {
    from {
        transform: scale(1.1);
        border: 8px solid rgba(39, 143, 180, 0.4);
    }
    50% {
        transform: scale(1);
        border: 8px solid rgba(39, 143, 180, 0);
    }
    100% {
        transform: scale(1.1);
        border: 8px solid rgba(39, 143, 180, 0.4);
    }
}

@keyframes whitebuttonbeat {
    from {
        transform: scale(1.1);
        border: 8px solid rgba(255, 255, 255, 0.4);
    }
    50% {
        transform: scale(1);
        border: 8px solid rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(1.1);
        border: 8px solid rgba(255, 255, 255, 0.4);
    }
}

.btn__animation {
    animation: buttonbeat 1.5s ease infinite;
}

.btn__animation-white {
    animation: whitebuttonbeat 1.5s ease infinite;
}