@media (max-width: 1600px) {
    .customers__slider_dots {
        left: 340px;
    }
}

@media (max-width: 1440px) {
    .customers__slider_dots {
        left: 240px;
    }
}

@media (max-width: 1400px) {
    .customers__slider_dots {
        left: 100px;
    }
}