.promo_blog {
    padding-top: 29px;
    background: url('https://github.com/SergeySKA10/mortgage/blob/assets/src/assets/img/blog_page/blog_promo_bg.png?raw=true') center/contain no-repeat;
    min-height: 540px;
    &__header {
        padding-left: 100px;
        img {
            width: 240px;
            height: 43px;
            object-fit: contain;
        }
    }
}