.blog_books {
    min-height: 377px;
    padding-top: 80px;
    &__wrapper {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, minmax(397px, 0));
        grid-template-rows: minmax(266px, 0);
        gap: 24px;
        justify-content: center;
    }
}