// @import '../../../../style/variables/variables.scss';

.btn {
    background-color: $main_color;
    color: #ffffff;
    cursor: pointer;
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 200px;
        height: 56px;
        border: 1px solid $main_color;
        border-radius: 4px;
        line-height: 16px;
        text-align: left;
        a {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
        }
        div {
            position: relative;
            width: 20px;
            height: 2px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            display: block;
        }
        div::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            top: -1px;
            right: 1px;
            background-color: #ffffff;
            transform: rotate(45deg);
        }
        div::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            top: -5.1px;
            right: 1px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(-45deg);
        }
    }
    &__white {
        background-color: #ffffff;
        width: 181px;
        height: 56px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 4px;
        font-size: 16px;
        line-height: 16px;
        a {
            text-decoration: none;
            color: $dark_color;
        }
    }
    &__play {
        position: relative;
        background-clip: content-box;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: 8px solid rgba(39, 143, 180, 0.4);
        a {
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            align-content: center;
        }
        &-block {
            display: inline-block;
            position: relative;
            margin: 10px;
        }
        &-block::after {
            content: '';
            position: absolute;
            top: -5px;
            left: -4px;
            border: 8px solid transparent;
            border-left: 11px solid #ffffff;
        }
    }
    &__play-white {
        background-color: #ffffff;
        position: relative;
        background-clip: content-box;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: 8px solid rgba(255, 255, 255, 0.4);
        a {
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            align-content: center;
        }
        &-block {
            display: inline-block;
            position: relative;
            margin: 10px;
        }
        &-block::after {
            content: '';
            position: absolute;
            top: -7px;
            left: -4px;
            border: 9px solid transparent;
            border-left: 11px solid rgba(39, 143, 180);
        }
    }
    &__mini {
        width: 99px;
        height: 36px;
        border-radius: 4px;
        border: none;
        a {
            color: #ffffff;
            font-size: 12px;
            line-height: 14px;
            text-decoration: none;
        }
    }
    &__arrow-right {
        background-color: #ffffff;
        position: relative;
        background-clip: content-box;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: 8px solid rgba(255, 255, 255, 0.4);
        div {
            position: relative;
            top: 1px;
            width: 15px;
            height: 2px;
            background-color: $main_color;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            left: 13px;
            display: block;
        }
        div::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: -1px;
            right: 1px;
            background-color: $main_color;
            transform: rotate(45deg);
        }
        div::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: -7px;
            right: 1px;
            background-color: $main_color;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(-45deg);
        }
    }
    &__arrow-left {
        background-color: #ffffff;
        position: relative;
        background-clip: content-box;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: 8px solid rgba(255, 255, 255, 0.4);
        div {
            position: relative;
            top: 1px;
            width: 15px;
            height: 2px;
            background-color: $main_color;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            left: 13px;
            display: block;
        }
        div::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: -1px;
            right: 10px;
            background-color: $main_color;
            transform: rotate(-45deg);
        }
        div::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: -7px;
            right: 10px;
            background-color: $main_color;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(45deg);
        }
    }
    &__watch {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        background-clip: content-box;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: 8px solid rgba(39, 143, 180, 0.4);
        &-eyelid {
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            border-radius: 70% 0;
            border: 2px solid #ffffff;
        }
        &-eys {
            position: relative;
            top: 5px;
            left: 5px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            border: 2px solid #ffffff;
        }
    }
    &__watch-download {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        background-clip: content-box;
        border-radius: 50px;
        width: 160px;
        height: 60px;
        border: 8px solid rgba(39, 143, 180, 0.4);
        &-text {
            position: relative;
            left: -9px;
            display: block;
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 19px;
            text-align: left;
        }
        &-arrow {
            position: relative;
            width: 2px;
            top: 2px;
            height: 14px;
            left: 11px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            display: block;
        }
        &-arrow::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: 5px;
            right: 3px;
            background-color: #ffffff;
            transform: rotate(-35deg);
        }
        &-arrow::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 10px;
            top: 5px;
            right: -3px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(35deg);
        }
        &:disabled {
            opacity: 0.5;
        }
    }
    &__ebook {
        display: block;
        padding: 13px 18px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgb(255, 255, 255, 0.6);
        border-radius: 4px;
        a {
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            text-decoration: none;
        }
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 210px;
        height: 56px;
        border: 1px solid $main_color;
        border-radius: 4px;
        line-height: 16px;
        text-align: left;
        div {
            position: relative;
            width: 20px;
            height: 2px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            display: block;
        }
        div::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            top: -1px;
            right: 1px;
            background-color: #ffffff;
            transform: rotate(45deg);
        }
        div::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 8px;
            top: -5.1px;
            right: 1px;
            background-color: #ffffff;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(-45deg);
        }
    }
}
