.story__slider {
    display: flex;
    width: 452px;
    gap: 29px;
    margin-right: 48px;
    &_inner {
        height: 700px;
        width: 396px;
        overflow: hidden;
    }
    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 22px;
        width: 396px;
        overflow: scroll;
        scroll-behavior: smooth;
        transition: all 0.5s ease-in-out;
        height: 700px;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &_slide {
        width: 380px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 28px 30px 44px 40px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    &_counter {
        color: $main_color;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
    }
    &_header {
        margin-top: 9px;
        color: $dark_color;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
    }
    &_line {
        margin-top: 20px;
        width: 40px;
    }
    &_descr {
        margin-top: 18px;
        color: rgb(0, 0, 0, 0.5);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        width: 300px;
    }
    &_arrows {
        display: none;
        button {
            border: 8px solid rgba(39, 143, 180, 0.4);
        }
    }
}

.slide-active {
    position: relative;
    border-radius: 4px;
    padding: 28px 0px 44px 40px;
    left: 16px;
    background-color: $main_color;
    .story__slider_counter {
        color: rgb(255, 255, 255, 0.5);
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
    }
    .story__slider_header {
        margin-top: 9px;
        color: #ffffff;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
    }
    .story__slider_line {
        margin-top: 20px;
        width: 40px;
        hr {
            border: 1px solid rgb(255, 255, 255, 0.2);
        }
    }
    .story__slider_descr {
        margin-top: 18px;
        color: rgb(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        width: 300px;
    }
}
